:root {
    --red: rgb(215, 15, 26);
    --gray: rgb(54, 51, 52);
    --purpleLight: rgb(172, 47, 120);
    --purpleDark: rgb(159, 21, 67);
    --redLight: rgb(216, 59, 76);
}

p{
    color: white;
    font-size: .9rem;
}

h5{
    color: var(--red);
    
}

.bgcb{
    background-color: black;
}

/* .bgcw{
    background-color: white;
} */


.logo{
    width: 8rem;
    height: 8rem;
}

.utfprLogo{
    width: 7rem;
    height: auto;
}
.logo2{
    width: auto;
    height: 15rem;
}

.cartoes{
   max-width: 15%;
   margin-bottom: 0.2rem;
   margin-right: 0.2rem;
}

.c-red{
color: var(--red);
}
