*{
  padding: 0;
  margin: 0;
}

nav{
  background-color: rgb(54, 51, 52);
  width: 100%;
  /* padding: 2rem; */
}

.logo{
  width: 15rem;
  height: 8rem;
}


/* .logo {
  width: 3rem;
  height: 3rem;
} */


/* div .nav {
  background-color: rgb(54, 51, 52);
  box-shadow: 0 4px 2px -2px gray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand img {
  display: block;
  margin: 0 auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-item {
  color: white;

  padding: 0.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: lightgray;
  font-weight: bold;
}

.nav-link:hover {
  color: rgb(3, 49, 61);
}

.logout-button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  color: gray;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
}



.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
} */